/* Lines */
.line_1 {
  height: 3px;
  overflow: hidden;
  clear: both;
  background: url('../images/line_1.gif') repeat-x;
}

.line_2 {
  height: 1px;
  overflow: hidden;
  clear: both;
  background-color: #e6ecec;
}