.media {
    &-sidebar {
        width: 86px !important;
        height: 66px !important;
    }

    &-listing {
        width: 671px !important;
        height: 496px !important;
    }

    &-article {
        width: 618px !important;
        height: 325px !important;
    }
}